body {
    background-image: url('../img/back.jpg');
    background-size: 450%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0px auto;
    padding: 20px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(45deg, #717483, #9395a2, #babdc6, #c8c9cd);
    border-radius: 10px;
}

.nav-item {
    min-width: max-content;
    padding: 10px 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.persons-name::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    vertical-align: middle;
    background-color: #9395a2;
    border-radius: 2px;
}

.skills-list>li::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #9395a2;
    border-radius: 2px;
}

.resume-wrapper {
    display: flex;
}

.photo {
    margin-right: 30px;
}

.about-me>h5 {
    margin-left: 10px;
}

.resume-header {
    text-decoration: dashed underline;
    text-underline-offset: 5px
}

.resume-item>h4 {
    font-weight: 700;
}

.resume-item>p {
    margin: 0px;
}

.resume-item:not(:last-child) {
    margin-bottom: 20px;
}

.icons-list {
    display: flex;
    padding-left: 0px;
    list-style: none;
}

.icons-list>li:not(:last-child) {
    margin-right: 20px;
}

.youtube-icon {
    background: url('../img/YouTube_full-color_icon_\(2017\).svg');
}

.tg-icon {
    background: url('../img/telegram-svgrepo-com.svg');
}

.discord-icon {
    background: url('../img/discord.svg');
}

.logo-wrapper-footer {
    width: 256px;
}

.git-icon {
    background: url('../img/GitHub-Mark-64px.png');
}

.social-icon {
    display: block;
    height: 64px;
    width: 64px;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer>div:not(:last-child) {
    margin-right: 30px;
}